*.aux
*.bbl
*.bcf
*.blg
*.docx
*.docx#
*.fdb_latexmk
*.fls
*.listing
*.lof
*.log
*.lol
*.lot
*.odt
*.out
*.run.xml
*.swp
*.toc
*.xdv
*~
FYP Submission Instructions.pdf
Final_Year_Project_Handbook.pdf
Isabelle2019
_minted*
autosaves
dheeraj*
papers
report
